# ==============================================================================
# 1. TEMPORALES Y CACHÉS DE YOCTO (NO SUBIR)
# ==============================================================================
**/tmp/
**/sstate-cache/
**/downloads/
**/cache/

# ==============================================================================
# 2. CAPAS EXTERNAS Y NÚCLEO DE POKY (CÓDIGO DE TERCEROS)
# ==============================================================================
HeliOs_Project/poky/bitbake/
HeliOs_Project/poky/documentation/
HeliOs_Project/poky/scripts/
HeliOs_Project/poky/meta/
HeliOs_Project/poky/meta-poky/
HeliOs_Project/poky/meta-yocto-bsp/
HeliOs_Project/poky/meta-openembedded/
HeliOs_Project/poky/meta-raspberrypi/
HeliOs_Project/poky/meta-flutter/
HeliOs_Project/poky/meta-selftest/
HeliOs_Project/poky/meta-skeleton/

# ==============================================================================
# 3. TEMPORALES DE FLUTTER
# ==============================================================================
**/build/
**/.dart_tool/
**/.packages
**/.pub/
*.tar.gz

# ==============================================================================
# 4. PYTHON Y SIMULADOR
# ==============================================================================
**/venv/
**/.venv/
**/__pycache__/
**/*.py[cod]

# ==============================================================================
# 5. IMÁGENES GENERADAS Y ARCHIVOS PESADOS
# ==============================================================================
*.wic*
*.ext*
*.tar.bz2
*.tar.xz
*.img
*.iso
*.log
