[Unit]
Description=HeliOs SCADA Translator Daemon
After=network.target mosquitto.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/helios-scada.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
