[Unit]
Description=HeliOs Solar Position Algorithm Daemon
After=network.target mosquitto.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/helios-spa.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
